* {
    text-align: center;
}

.title,
footer {
    background-color: yellow;
}

textarea {
    padding: 1rem;
    margin: 1rem;
    width: 50%;
    height: 20vh;
    font-family: sans-serif;
    color: black;
}

#translate {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    border-style: none;
    border-radius: 1rem;
    font-weight: bold;
    color: black;
    background-color: yellow;
}

body {
    margin: 0px;
}

div {
    padding: 1rem;
}

#about {
    padding: 1rem;
    font-family: sans-serif;
}